# Core dependencies
streamlit
matplotlib
pandas
numpy
scipy

# NLP libraries
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
nltk
pymupdf 
wordcloud 

# Machine Learning & Transformers 
scikit-learn
transformers
torch
tensorflow

# Visualization
seaborn
plotly

# Other utilities
requests
beautifulsoup4  
PyYAML
json5
