# Core dependencies
streamlit
matplotlib
pandas
numpy
scipy

# NLP libraries
spacy
spacy-lookups-data
pymupdf
wordcloud
nltk

# Machine Learning & Transformers
scikit-learn
transformers
torch
tensorflow

# Visualization
seaborn
plotly

# Other utilities
requests
beautifulsoup4  
PyYAML
json5

# Install spaCy English model
spacy[en_core_web_sm]
